:root {
    --animalValue: '';
}


.changeAnimal{
    content:url("../../../assets/pig/pig-gif.gif");
}

.animal-padding{
    padding: 50px;
}

.animal-left{
    padding-left: 50px;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 25%;
    padding: 5px;
  }

  .background {
    background-color: rgb(168, 189, 44);
    background-size: cover;
    height: 100vh;
    max-width: 100vw;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
  }

  .timeCounter {
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 22px;
    color: white;
  }


  .correctCounter {
    position: absolute;
    top: 50px;
    right: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 22px;
    color: white;
  }
  

  .poop_box {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #742716;
    font-size: 24px;
    letter-spacing: 2px;
    padding-top: 40px;
    width: 30%;
    height: 30%;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: #b8666a;
    border: 5px solid #b67b64;
    border-radius: 15px;
    visibility: visible;
    transition: all 0.3s ease;
  }

  .game_btn {
    padding-left:20px;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
  }

  .game_btn:hover {
    background-color: palegoldenrod;
    cursor: pointer;
  }
  
  .game_btn:active {
    outline: none;
  }