<section class="background_section">
  <div class="left"></div>
  <div class="right">
    <div class="gameName">
      <img src="../../../assets/gifi/logo.png" alt="" class="pooperino" />
    </div>
    <div class="game1">
      <img src="../../../assets/gifi/poop.png" alt="POOP" class="poop" />
      <button [routerLink]="['/setup', 'findAnimalBySound']" class="game_btn">Match sound with POOPing animal</button>
    </div>
    <div class="game2">
      <img src="../../../assets/gifi/poop.png" alt="POOP" class="poop" />
      <button [routerLink]="['/setup', 'findAnimal']" class="game_btn">Find magic POOPing animal</button>
    </div>
    <div class="game3">
      <img src="../../../assets/gifi/poop.png" alt="POOP" class="poop" />
      <button [routerLink]="['/setup', 'guessPoop']" class="game_btn">Match POOP with animal</button>
    </div>
  </div>
</section>
