<section class="background_section">
  <div class="left"></div>
  <div class="right">
    <div class="gameName">
      <img src="../../../assets/gifi/logo.png" alt="" class="pooperino" />
    </div>
    <div class="game1">
      <img src="../../../assets/gifi/poop.png" alt="POOP" class="poop" />
      <button routerLink="/findAnimalBySound" class="game_btn">
        Sounds like POOP
      </button>
    </div>
    <div class="game2">
      <img src="../../../assets/gifi/poop.png" alt="POOP" class="poop" />
      <button routerLink="/findAnimal" class="game_btn">Yels like POOP</button>
    </div>
    <div class="game3">
      <img src="../../../assets/gifi/poop.png" alt="POOP" class="poop" />
      <button routerLink="/guessPoop" class="game_btn">Smells like POOP</button>
    </div>
  </div>
</section>
