<div class="background" id="background">
  <div class="poop_box_end" id="poop_box" *ngIf="end_game">
    <p>Your game has ended!</p>
    <button class="game_btn p-2" (click)="playAgain()">Play again</button>
    <button class="game_btn" (click)="exitGame()">Exit</button>
  </div>
  <audio
    src="../../../assets/gifi/Old MacDonald Had A Farm - 3D Animation English Nursery Rhymes & Songs for children.mp3"
    loop
    autoplay
  ></audio>
  <div class="timeCounter">
    Time passed: {{ currentTimePassed / 10 | number: "1.1" }}
  </div>
  <div class="correctCounter">Correct guesses: {{ correct }}</div>

  <div id="testnidiv" class="test">
    <div class="row ml-3">
      <div class="column cat">
        <img src="../../../assets/cat/cat.png" alt="Snow" style="width: 40%" />
      </div>
      <div class="column chicken">
        <img
          src="../../../assets/chicken/chicken.png"
          alt="Forest"
          style="width: 40%"
        />
      </div>
      <div class="column cow">
        <img
          src="../../../assets/cow/cow.png"
          alt="Mountains"
          style="width: 40%"
        />
      </div>
      <div class="column dog">
        <img
          src="../../../assets/dog/dog.png"
          alt="Mountains"
          style="width: 40%"
        />
      </div>
    </div>

    <div class="row ml-3">
      <div class="column frog">
        <img
          src="../../../assets/frog/frog.png"
          alt="Snow"
          style="width: 40%"
        />
      </div>
      <div class="column horse">
        <img
          src="../../../assets/horse/horse.png"
          alt="Forest"
          style="width: 40%"
        />
      </div>
      <div class="column mouse">
        <img
          src="../../../assets/mouse/mouse.png"
          alt="Mountains"
          style="width: 40%"
        />
      </div>
      <div class="column pig">
        <img
          src="../../../assets/pig/pig.png"
          alt="Mountains"
          style="width: 40%"
        />
      </div>
    </div>

    <div class="row ml-3">
      <div class="column rabbit">
        <img
          src="../../../assets/rabbit/rabbit.png"
          alt="Snow"
          style="width: 40%"
        />
      </div>
      <div class="column sheep">
        <img
          src="../../../assets/sheep/sheep.png"
          alt="Forest"
          style="width: 40%"
        />
      </div>
      <div class="column elephant">
        <img
          src="../../../assets/elephant/elephant.png"
          alt="Mountains"
          style="width: 40%"
        />
      </div>
    </div>
  </div>

  <div class="poop_box" id="poop_box">
    <p>Match the poop with the animal</p>
    <img class="poop_img" id="poop_box_img" alt="CAT POOP" />
  </div>

  <div class="poop" id="poop">
    <img class="poop_img" id="poop_img" alt="CAT POOP" />
  </div>

  <div class="wrong" id="wrong">
    <img class="poop_gif" id="wrong_img" alt="CAT POOPING" />
  </div>
</div>
