.background {
  background-image: url(../../../assets/gifi/zivali_background.gif);
  background-size: cover;
  height: 100vh;
  max-width: 100vw;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.popup {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 500px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 216, 177, 0.95);
  border-radius: 20px;
  border: 5px solid #c99c83;
  text-align: center;
}

.info {
  color: #742716;
  letter-spacing: 5px;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}

input[type="submit"] {
  border-radius: 5px;
  border: 3px solid brown;
  background-color: yellow;
  color: brown;
  font-size: 30px;
  padding: 15px;
  margin: 10px;
  width: 50%;
  cursor: pointer;
}

input[type="text"],
select {
  letter-spacing: 3px;
  font-size: 28px;
  margin-top: 20px;
  color: #9a8c83;
  width: 70%;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  outline: none;
  border: 2px solid #a3a37c;
}

.name {
  letter-spacing: 1px;
  font-size: 30px;
  margin-top: 30px;
  color: #b8666a;
}

.selectGameModeBtn {
  border-radius: 5px;
  border: 3px solid brown;
  background-color: yellow;
  color: brown;
  font-size: 30px;
  padding: 15px;
  margin: 10px;
  width: 45%;
  cursor: pointer;
  transition: all 0.3s ease;
}
